<template name="videoFlexTab">
	{{#if openInNewWindow}}
		<div class="list-view">
			<div class="title">
				<h2>{{_ "Video_Conference"}}</h2>
			</div>
			<p>{{_ "Opened_in_a_new_window"}}</p>
		</div>
	{{else}}
		<style>
		.video-container iframe {
			position:fixed; top:60px; bottom:0; right:0; width:33% !important; min-width: 400px;
		}
		.social-fs .video-container iframe {
			position:fixed; top:60px; bottom:0; right:0; width:25% !important; min-width: 400px;
		}

		</style>
		<div class="video-chat">
			<div class="main-video">
				<div class="video-container"></div>
			</div>
		</div>
	{{/if}}
</template>
